/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";
@import "./variables";

* {
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: $spotify-green;
  text-decoration: none;
}

a:hover {
  color: black;
}

html body {
  background-color: $bg-color;
}

.text-green {
  color: $spotify-green;
}

button {
  color: $spotify-green !important;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.heading {
  font-size: clamp(30px, 4vw, 44px) !important;
}

.list-group-item {
  background-color: $spotify-green;
  color: white;
}

label {
  font-weight: bold;
}

p,
label,
a {
  font-size: clamp(16px, 2vw, 20px);
}
