<table class="table table-dark table-striped table-hover align-middle">
  <thead>
    <tr>
      <td
        [ngClass]="{ 'tw-10': columName == '' }"
        class="text-start"
        *ngFor="let columName of columnNames"
      >
        <p>{{ columName }}</p>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tableRow of tableRows" (click)="onClick(tableRow)">
      <td
        *ngFor="let tableData of tableRow.data"
        [ngSwitch]="tableData.element"
        class="text-start"
      >
        <img
          class=""
          *ngSwitchCase="'img'"
          [src]="tableData.src"
          height="50px"
        />
        <a *ngSwitchCase="'a'" [href]="tableData.href">{{ tableData.text }}</a>
        <p *ngSwitchCase="'p'">{{ tableData.text }}</p>
      </td>
    </tr>
  </tbody>
</table>
