@import "../../../variables";

p {
  margin: 0;
}

table thead p {
  font-weight: bold;
  font-size: 1em;
}

th {
  position: sticky;
}

tbody tr {
  cursor: pointer;
}

img {
  min-width: clamp(50px, 10vw, 100px);
  min-height: clamp(50px, 10vw, 100px);
}

p {
  font-size: clamp(14px, 3vw, 20px) !important;
}

thead p {
  font-size: clamp(16px, 3vw, 20px) !important;
}

.mw-50 {
  // max-width: 50px;
}

table {
  border: 3px solid $spotify-green;
  border-radius: 10px;
}

td {
  max-width: 25vh;
  text-overflow: ellipsis;
}
