@import "../../../variables";

p {
  margin: 0;
}

table thead p {
  font-weight: bold;
  font-size: 1em;
}

tbody tr {
  cursor: pointer;
}

img {
  min-width: clamp(50px, 10vw, 80px);
  min-height: clamp(50px, 10vw, 80px);
}

p {
  font-size: clamp(14px, 3vw, 18px) !important;
}

thead p {
  font-size: clamp(16px, 3vw, 18px) !important;
}

table {
  border: 3px solid $spotify-green;
  border-radius: 10px;
}
