<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-green" href="/home">Spotify Tracker </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a
          *ngIf="isLoggedIn"
          [ngClass]="{ active: activeNav === 'home' }"
          class="nav-link"
          aria-current="page"
          href="/home"
          >Home</a
        >
        <a
          *ngIf="isLoggedIn"
          [ngClass]="{ active: activeNav === 'profile' }"
          class="nav-link"
          aria-current="page"
          href="/profile"
          >Profile</a
        >
        <a
          *ngIf="isLoggedIn"
          [ngClass]="{ active: activeNav === 'top-items' }"
          class="nav-link"
          aria-current="page"
          href="/top-items"
          >Top Items</a
        >
        <a
          *ngIf="isLoggedIn"
          [ngClass]="{ active: activeNav === 'recent' }"
          class="nav-link"
          aria-current="page"
          href="/recent"
          >Recent</a
        >
        <a
          [ngClass]="{ active: activeNav === 'login' }"
          class="nav-link"
          aria-current="page"
          href="/login"
          >Login</a
        >
      </ul>
    </div>
  </div>
</nav>
