<div class="container-fluid p-3">
  <h1 class="text-white text-center pt-2">Welcome to Spotify Tracker!</h1>
  <div class="row text-center">
    <div class="col col-sm-8 offset-sm-2 col-xl-6 offset-xl-3 text-center">
      <div class="pt-2 list-group">
        <a class="list-group-item" href="/profile"
          ><h4>View Your Profile</h4></a
        >
        <a class="list-group-item" href="/top-items"
          ><h4>View Your Top Tracks and Artists</h4></a
        >
        <a class="list-group-item" href="/recent"
          ><h4>View Your Recent Tracks</h4></a
        >
      </div>
    </div>
  </div>
</div>
