<div class="container-fluid px-0 p-lg-5 pt-2">
  <div>
    <h2 class="text-white text-center pt-md-4 heading">
      Your Top {{ showingTracks ? "Tracks" : "Artists" }}
    </h2>
    <div class="text-center pt-2">
      <div class="btn-group text-center pt-md-2" role="group">
        <input
          (change)="showingTracks = true"
          type="radio"
          class="btn-check"
          name="btnradio"
          id="tracksBtn"
          autocomplete="off"
          checked
        />
        <label class="btn btn-outline-secondary text-white" for="tracksBtn"
          >Tracks</label
        >

        <input
          (change)="showingTracks = false"
          type="radio"
          class="btn-check"
          name="btnradio"
          id="artistsBtn"
          autocomplete="off"
        />
        <label class="btn btn-outline-secondary text-white" for="artistsBtn"
          >Artists</label
        >
      </div>
    </div>
  </div>

  <div class="pt-3 px-md-5">
    <div *ngIf="showingTracks">
      <track-table [tracks]="topTracks.items"></track-table>
    </div>
    <div *ngIf="!showingTracks">
      <artist-table [artists]="topArtists.items"></artist-table>
    </div>
  </div>
</div>
