<item-table
  [columnNames]="getColumnNames()"
  [tableRows]="getTableRows()"
></item-table>
<!-- <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td><p>Artist</p></td>
      <td><p>Genre</p></td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let artist of artists; let i = index"
      [attr.data-index]="i"
      style="cursor: pointer"
      (click)="redirectToArtist(artist)"
    >
      <td>
        <img
          class="image-fluid"
          src="{{ artist.images[0].url }}"
          width="50px"
        />
      </td>
      <td>
        <a href="{{ artist.external_urls.spotify }}">Listen</a>
      </td>
      <td>
        <p class="ms-2">{{ artist.name }}</p>
      </td>
      <td>
        <p>{{ artist.getGenreString() }}</p>
      </td>
    </tr>
  </tbody>
</table> -->
