<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <td><h2>#</h2></td>
      <td></td>
      <td class="text-start"><p>Track</p></td>
      <td><p>Artist</p></td>
      <td><p>Length</p></td>
      <td><p>Popularity</p></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks; let i = index" [attr.data-index]="i" style="cursor: pointer;"
    (click)="redirectToTrack(track)">
      <td>
        <h3>{{i + 1}}</h3>
      </td>
      <td>
        <a href="{{track.external_urls.spotify}}">Listen</a>
      </td>
      <td class="d-flex align-items-center">
        <img width="{{size === 'small' ? '40' : '75'}}" *ngIf="track.getAlbumPhotoUrl()" src="{{track.getAlbumPhotoUrl()}}">
        <p class="ms-3">{{track.name}}</p>
      </td>
      <td><p>{{track.getArtistString()}}</p></td>
      <td><p>{{track.duration_ms | date:"mm:ss"}}</p></td>
      <td><p>{{track.popularity}}</p></td>
    </tr>
  </tbody>
</table>