<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <td></td>
      <td *ngIf="!simplified"></td>
      <td><p>Track</p></td>
      <td><p>Artist</p></td>
      <td><p>Length</p></td>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let track of tracks; let i = index"
      [attr.data-index]="i"
      style="cursor: pointer"
      (click)="redirectToTrack(track)"
    >
      <td *ngIf="!simplified" class="test-start">
        <img
          width="{{ size === 'small' ? '40' : '75' }}"
          src="{{ track.getAlbumPhotoUrl() }}"
        />
      </td>
      <td>
        <a href="{{ track.getListenUrl() }}">Listen</a>
      </td>
      <td>
        <p class="ms-3">{{ track.name }}</p>
      </td>
      <td>
        <p>{{ track.getArtistString() }}</p>
      </td>
      <td>
        <p>{{ track.duration_ms | date : "mm:ss" }}</p>
      </td>
    </tr>
  </tbody>
</table>
